<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- Use a local package cache so that we can easily delete Facil packages cached from local
    builds during development/testing -->
    <add key="globalPackagesFolder" value="packages" />
  </config>
  <packageSources>
    <clear />
    <add key="Local" value="nupkg" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
     <clear />
  </disabledPackageSources>
</configuration>
